
<launch>
	<node pkg="parking_lot_simulator" type="parking_lot_simulator_node" name="parking_lot_simulator_node" output="screen" >
    </node>
<!--
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find parking_points)/launch/parking_simu.rviz" required="true" />
-->
	<include file="$(find parking_points)/launch/parking_points.launch"  />
	<node pkg="dwa_planner" type="dwa_planner" name="dwa_planner" respawn="true"   output="screen">
		<rosparam command="load" file="$(find dwa_planner)/config/dwa_planner_param.yaml" />
	</node>
	<node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 -1.57 0 0 rslidar dwa_viz 100" />
	<!-- LOCALIZATION -->
	<include file="$(find rtk_mapping)/launch/underground_location.launch" />

	<!-- **************Chasis CAN *************** -->
	<!-- <node pkg="likecan" type="likecan" name="likecan" output="screen" launch-prefix="xterm -e" respawn="true" > -->
	<node pkg="likecan" type="likecan" name="likecan"  respawn="true"  output="screen">
		<rosparam command="load" file="$(find likecan)/config/pid_param.yaml"/>
	</node>
	<node pkg="can_decode" type="can_decode" name="can_decode"/>

</launch>
